<h1>Employees</h1>

<ul class="list-group list-group-flush">

  <% @employees.each do |employee| %>
    <li class="list-group-item list-group-item-action">
      <%=link_to employee.first_name, employee_path(employee) %>
    </li>
  <%end%>
</ul>
<br>
<div class="container-flex">
  <div class="row justify-content-md-left">
<div class="col-md-auto">
<%=link_to "New Employee", "#{employees_path}/new", :class => "btn btn-primary" %>
</div>
</div>
</div>
