<h1><%= "#{@dog.name}" %></h1>

<p>

Breed: <%= "#{@dog.breed}" %>
<br>
<br>
Age: <%= "#{@dog.age}" %>
<br>
<br>
Employees:
<ul>

<% @dog.my_employees.each do |employee|%>
  <li><%= link_to employee.to_s, "/employees/#{employee.id}" %></li>
  <% end %>
</ul>
</p>
