<h1>Dog by id number</h1>
<h2><%=@dog.name%></h2>
<ul>
  <li><b>Breed: </b><%=@dog.breed%></li>
  <li><b>Age: </b><%=@dog.age%></li>
  <li><b>Owners: </b> do this</li>
</ul>

<!--footer-->
<p><blockquote>
<a href="/dogs">dogs index.</a>
<br>
<a href="/employees">employees index.</a>
</blockquote></p>
